.section-one, .section-two {
    overflow-y: hidden;
    overflow-x: hidden;
}

.signup {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: indigo;
    border: solid rgb(97, 28, 146) 3px;
    border-radius: 20px;
}

.signup button {
    padding: 6px 45px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

.signup:hover {
    background-color: rgb(161, 124, 187, 0.2);
    border-color: rgb(97, 28, 146, 0.2);
}

.signup button:hover {
    color: rgb(0, 0, 0);
}
.video{
    
}